body{
    background-color: skyblue;
}



.wrap{
    display: flex;
}

/* .box{
    width: 200px;
    height: 400px;
    background-color: fuchsia;
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px 50px 30px 60px;
    padding: 20px 10px;
    display: none;
} */

.block{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 5px solid black;
    border-radius: 20%;
}
